version: 2.1

jobs:
  deploy_prod:
    docker:
      - image: cimg/base:current
    resource_class: small

    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y s3cmd
      - run: touch s3cfg
      - run: |
          cat \<<EOF > s3cfg
          access_key = $S3_CLIENT_ID
          secret_key = $S3_CLIENT_SECRET
          bucket_location = US
          cloudfront_host = cloudfront.amazonaws.com
          cloudfront_resource = /2010-07-15/distribution
          default_mime_type = binary/octet-stream
          delete_removed = False
          dry_run = False
          encoding = UTF-8
          encrypt = False
          follow_symlinks = False
          force = False
          get_continue = False
          gpg_command = /usr/bin/gpg
          gpg_decrypt = %(gpg_command)s -d --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s
          gpg_encrypt = %(gpg_command)s -c --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s
          gpg_passphrase =
          guess_mime_type = True
          host_base = cellar-c2.services.clever-cloud.com
          host_bucket = %(bucket)s.cellar-c2.services.clever-cloud.com
          human_readable_sizes = False
          list_md5 = False
          log_target_prefix =
          preserve_attrs = True
          progress_meter = True
          proxy_host =
          proxy_port = 0
          recursive = False
          recv_chunk = 4096
          reduced_redundancy = False
          send_chunk = 4096
          signurl_use_https = True
          simpledb_host = sdb.amazonaws.com
          skip_existing = False
          socket_timeout = 300
          urlencoding_mode = normal
          use_https = True
          verbosity = WARNING
          EOF
      - run: s3cmd --config s3cfg sync public/ s3://apps.zenika.com --acl-public --host-bucket=cellar-c2.services.clever-cloud.com

workflows:
  deploy_main:
    jobs:
      - deploy_prod:
          context: apps-zenika
          # filters:
          #   branches:
          #     only: main
