:root {
  --color-black: #121212;
  --color-white: white;
  --color-zenika: #aa0000;
  --color-light-grey: #ddd;
  --small-padding: max(.5rem, 1vw);
  --large-padding: max(1rem, 2vw);
  --default-border-radius: .5rem;

  --app-main-link-image-height: min(4rem, 15vw);
  --body-brackground-color: var(--color-black);
  --link-hover-background-color: var(--color-light-grey);
  --link-hover-background-color-transition: background-color 0.3s ease-in-out;
}

* { outline-color: transparent; }

body {
  background-color: var(--body-brackground-color);
  font: 1rem Arial, Helvetica, sans-serif;
}

h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

h1 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background-color: var(--color-white);
  border-radius: var(--default-border-radius);
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

article:focus-within {
  outline: 3px solid var(--color-zenika);
  outline-offset: .25rem;
}

a {
  text-decoration: unset;
  padding: var(--large-padding);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

a:focus {
  outline: none;
}

a:hover, a:active, a:focus {
  background: var(--link-hover-background-color);
  transition: var(--link-hover-background-color-transition);
  border-radius: var(--default-border-radius);
}

a img {
  height: var(--app-main-link-image-height);
}

article header {
  display: flex;
  justify-content: center;
  padding: var(--small-padding);
}

article footer {
  display: flex;
  justify-content: center;
}

article footer img {
  height: 100%;
}

article footer a {
  flex: 1;
  padding: var(--small-padding);
  height: 1.25rem;
}

@media (max-width: 33rem) {
  main { justify-content: stretch; }
  article { flex: 1; }
}
