:root {
  --color-black: #000;
  --color-grey: #eceff1;
  --color-light-grey: #f7f7f7;

  --default-box-shadow: 0 0 3px rgb(0 0 0 / 10%);

  --body-brackground-color: var(--color-black);
  --link-hover-background-color: var(--color-light-grey);
  --link-hover-background-color-transition: background-color 0.3s ease-in-out;
}

body {
  background-color: var(--body-brackground-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

a {
  text-decoration: unset;
}

#logo {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
}

#apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  background-color: white;
  box-shadow: var(--default-box-shadow);
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.app-main-link {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.app-main-link:hover {
  background: var(--link-hover-background-color);
  transition: var(--link-hover-background-color-transition);
  border-radius: var(--default-border-radius);
}

.app-main-link > * {
  width: 100%;
  flex: 0;
}

.app-main-link img {
  height: 100px;
}

.app header {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.app footer {
  display: flex;
  justify-content: center;
  height: 1.5em;
}

.app footer:hover {
  background: var(--link-hover-background-color);
  transition: var(--link-hover-background-color-transition);
  border-radius: var(--default-border-radius);
}

.app footer img {
  height: 80%;
}
