:root {
  --color-zenika: #aa0000;
  --bg-interface: #eee;
  --bg-card: white;
  --bg-card-footer: #f9f9f9;
  --border-card: #ccc;
  --border-footer: #ddd;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-interface: #121212;
    --bg-card: #222;
    --bg-card-footer: #1a1a1a;
    --border-card: #444;
    --border-footer: #333;
  }
}

* {
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-interface);
  font: 1rem Arial, Helvetica, sans-serif;
}

main {
  max-width: min(150ch, calc(100% - 2rem));
  margin: 0 auto 3rem;
}

h1 {
  margin: 1.5em auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5ch;

  sub {
    transform: translateY(1em);
    font-size: 0.5em;
  }

  img {
    height: 4rem;
    width: auto;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33ch, 1fr));
  gap: 1rem;

  li {
    list-style: none;
  }
}

h2 {
  font-size: 1.75rem;
  margin-block: 1.25em 0.5em;
}

article {
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--border-card);
  height: 100%;

  a {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
      outline: 3px solid var(--color-zenika);
    }

    :is(h3, p) {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 0;
      transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);

      a:hover & {
        text-decoration-color: currentColor;
        text-underline-offset: 0.15em;
      }
    }
  }

  > a {
    background: var(--bg-card);
    display: flex;
    align-items: center;
    outline-offset: -1ch;
    padding: 1rem;
    gap: 0.5em;
    font-size: 1.25rem;

    img,
    i {
      width: 1.5em;
      height: 1.2em;
      object-fit: contain;
      flex-shrink: 0;
      font-size: 2em;
    }

    i {
      line-height: 1.25;
      font-style: normal;
      text-align: center;
    }
  }

  hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;

    p {
      font-size: 1rem;
    }
  }

  h3 {
    font-size: 1.25rem;
  }

  footer {
    background: var(--bg-card-footer);
    border-top: 1px solid var(--border-footer);
    display: flex;
    padding: 0.75rem;

    a {
      display: inline-flex;
      gap: 0.5em;
      align-items: center;
      font-size: 0.875rem;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }

    img,
    svg {
      height: 1.25em;
      width: 1.25em;
      object-fit: contain;
    }
  }
}
